<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body> 
    <h1>Today</h1>
    <p>The date is Tuesday, February 18, 2020</p>
        <h2></h2>
        <p></p>
    </body>
</html>