<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <% today = Time.now %>
        <p><%= today.strftime("The date is %A, %B %d, %Y") %></p>
    </body>
</html>